<main>
  <form id = "delAdmin" action = "/admin/delete" method = "post">
  <input name="UID" visibility: hidden id="ad_page_UID" type="number" value=-2>

  <div class="error">
		{{messages.error}}
	</div>

  <div class="f_column">
  <div class="row">
      <div class="column">
          <div class="card">Admin List</div>
      </div>
          {{#each admin}}
          <div class="column">
              <div class = "card">
              Screen Name: {{screen_name}} &nbsp; &nbsp; &nbsp; Email: {{email}}
              <button name = "del" value = {{admin_id}} class="vote"> Delete </button>
            </div>
          </div>
          {{/each}}
  </div>
  </div>
</form>

    <form id = "addAdmin" action = "/admin/add" method = "post">

    <div class="column">
      <div class="card">Add Admin</div>
    </div>

        <div class="column">
      <div class="card"> Screen Name List: <select name="sc_name"> </div>
        {{#each nonAd}}
        <option value="{{User_id}}">{{screen_name}} </option>
        {{/each}}
      </select>
    <input type="submit" value="Submit">
    </div>


    </form>

</main>
