<main>

	<div class="f_row">
		<div class="f_column">
			<form id="upOne" action = '/battle/display/vote' method="post">
			<input name="UID" visibility: hidden id="battle_display_usr" type="number" value=-2>

			<div class="row">
				<div class="column">
					{{#each link}}
					<img src="{{img1}}" class="ava_pic"> {{/each}} {{!
					<image src="../cat.jpeg" class="ava_pic"> }}
						<div class="card">

							{{#each critter}}
							<input name="BID" visibility: hidden id="battle_id" type="number" value={{battle_id}}>
							Critter one name : {{Name1}} <br>
							Critter one size : {{Size_one}} <br>
							Critter one quantity : {{Quantity_one}} <br>
							Votes for critter one : {{votes_one}}
							{{/each}} {{! Critter one name : $Critter_one <br> Critter one size : $Critter_one_size
							<br> Critter one quantity : $Critter_one_quanitity <br> Votes for critter one : $Critter_one_votes }}
						</div>
				</div>
				<div class="column">
					<div class="card">
                        	<button name = "vouch" value = "0" class="vote"> Vote!</button>
					</div>
				</div>
			</div>
		</div>
		<div class="f_column">

			<div class="row">
				<div class="column">
					{{#each link}}
					<img src="{{img2}}" class="ava_pic"> {{/each}}

					<div class="card">
						{{#each critter}} Critter one name : {{Name2}} <br> Critter one size : {{Size_two}} <br> Critter one quantity : {{Quantity_two}}
						<br> Votes for critter one : {{votes_two}} {{/each}} {{! Critter two name : $Critter_two <br> Critter two size : $Critter_two_size
						<br> Critter two quantity : $Critter_two_quanitity <br> Votes for critter two : $Critter_two_votes }}
					</div>
				</div>
				<div class="column">
					<div class="card">
                                <button name = "vouch" value = "1" class="vote">Vote!</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>

<div class="error">
	{{messages.error}}
</div>

	<div class="row">
		<div class="column">

			<div class="card">Comment Section</div>
			<form name="Leave a comment!" method="post" action='/battle/display'>
				{{#each critter}}
				<input name="BID" visibility: hidden id="battle_id" type="number" value={{battle_id}}>
				{{/each}}
				<br> Comment : <input type="text" name="comment_text"><br>


				<input type="submit" value="Submit">
			</form>
			<div class="card">



					{{#each comment}}
					<form name="Liking" method="post" action='/battle/display/likes'>

					<div class="card">
						<input name="CID" visibility: hidden id="com_id" type="number" value={{comment_id}}>
						<p type="text" class="comment" placeholder="{{comment_text}}">{{comment_text}}</p>
						<button class="like" name = "couch" value = "0">Likes : {{likes}}</button>
						<button class="dislike" name = "couch" value = "1">Dislikes : {{dislikes}}</button>
						<button onclick="deleteComment({{comment_id}})">Delete</button>

					</div>
					</form>
					{{/each}}
			</div>
			{{!
			<div class="card">

				<input type="text" class="comment" placeholder="Comment Body"><br>
				<button class="like">Like</button>
				<button class="dislike">Dislike</button>

			</div>
			<div class="card">


				<input type="text" class="comment" placeholder="Comment Body"><br>
				<button class="like">Like</button>
				<button class="dislike">Dislike</button>
			</div>
			<div class="card">


				<input type="text" class="comment" placeholder="Comment Body"><br>
				<button class="like">Like</button>
				<button class="dislike">Dislike</button>
			</div>
			}}
		</div>
	</div>

</main>
