<main>

	<div class="f_row">
	<div class="f_column">
 	<div class="row">
  		<div class="column">
    			<div class="card">New Battles</div>
  		</div>
					{{#each newBattle}}
					<div class="column">
							<div class = "card">
							<a href="/battle/display/{{id}}">{{Name1}} vs {{Name2}}</a>
						</div>
					</div>
					{{/each}}
	</div>
	</div>

  <div class="f_column">
  <div class="row">
        <div class="column">
          <div class="card">Popular Battles</div>
        </div>
				{{#each popBattle}}
				<div class="column">
					<div class = "card">
					<a href="/battle/display/{{id}}">{{Name1}} vs {{Name2}}</a>
				</div>
				</div>
				{{/each}}
        </div>
        </div>
        </div>

</main>
